.App {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  color: white;

}

body {
  background: #111 !important;
}

.filters-row{
  display: flex;
  flex-direction: row;
}

.right{
    margin-left: 20px;
}
.helpText{
    font-size: 11px;
    color: gainsboro;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.myDiv{
    width: 95vw;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  background-color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  color: white;
}

.horizontal-slider {
    width: 200px;
    max-width: 500px;
    height: 50px;
}

.horizontal-slider .example-track {
    top: 20px;
    height: 10px;
}

.example-track.example-track-0 {
    background: grey;
}

.example-track.example-track-1 {
    background: yellow;
    margin-left: 10px;
    margin-right: 10px;
}

.example-track.example-track-2 {
    background: grey;
}

.horizontal-slider .example-thumb {
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 38px;
    border-radius: 50%;
    font-size: 0;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 5px solid gray;
    box-sizing: border-box;
}